:root {
    --backgroundPrimary: "#242423";
    --backgroundSecondary: "#333533";
    --textPrimary: "#cfdbd5";
    --textSecondary: "#f5cb5c";
    --errorColor: "#E63946";
    --textCaret: "#E8EDDF";
    --select: "#FFB7B7";
}